
{% extends 'main.html' %}
{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-primary mb-5 mt-5">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
          <h1 class="font-weight-semi-bold text-uppercase mb-3 text-light">Shopping Cart</h1>
          <div class="d-inline-flex text-light">
              <p class="m-0"><a href="">Home</a></p>
              <p class="m-0 px-2">-</p>
              <p class="m-0">Items In {{booking.get_cart_items}} Shopping Cart</p>
          </div>
      </div>
  </div>
  <!-- Page Header End -->


  <!-- Cart Start -->
  <div class="container-fluid pt-5">
      <div class="row px-xl-5">
          <div class="col-lg-8 table-responsive mb-5">
              <table class="table table-bordered text-center mb-0">
                  <thead class="bg-primary text-light">
                      <tr>
                          <th>Items</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                          <th>Remove</th>
                      </tr>
                  </thead>
                  <tbody class="align-middle">
                    {% for item in items %}
                        <tr>
                            <td class="align-middle">
                                <img src="{{ item.tour.cover_image }}" alt="" style="width: 50px;">
                                <h5>{{ item.tour.name }}</h5>
                            </td>
                            <td class="align-middle">M{{ item.tour.price|floatformat:2 }}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus chg-quantity update-cart" data-tour="{{ item.tour.id }}" data-action="remove">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <p class="quantity mx-2 mt-1 h6">{{ item.quantity }}</p>
                                    <button class="btn btn-sm btn-primary btn-plus chg-quantity update-cart" data-tour="{{ item.tour.id }}" data-action="add">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="align-middle">M{{ item.get_total }}</td>
                            <td class="align-middle">
                                <button class="btn btn-sm btn-primary">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}

                  </tbody>
              </table>
          </div>
          <div class="col-lg-4">
              <div class="card mb-5">
                  <div class="card-header bg-primary border-0">
                      <h4 class="font-weight-semi-bold m-0 text-light">Cart Summary</h4>
                  </div>
                  <div class="card-footer bg-transparent">
                      <div class="d-flex justify-content-between mt-2">
                          <h5 class="font-weight-bold">Total</h5>
                          <h5 class="font-weight-bold">M{{booking.get_cart_total}}</h5>
                      </div>
                      <a href="{% url 'checkout' %}" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Cart End -->
{% endblock content %}