{% extends 'main.html' %} 
{% block content %} 
{% load static %}

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white animated slideInDown">Services</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- Service Start -->
<div class="container-fluid py-5 mb-5">
    <div class="container-fluid">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h3 class="mb-5">Our Services are based on 3 major points</h3>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                    <h5>Experience</h5>
                    <p>An excellent reputation for personal services, quality and value
                        through extensive research and a comprehensive database backed up
                        by ten years of experience in the travel industry. Our agents
                        travel to the places they sell on a regular basis.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                    <h5>Quality</h5>
                    <p>Professional customer oriented consultation providing hassle free
                        travel. Email capabilities for convenience and prompt booking and
                        information. Creative but persistent approach to search for the
                        most appropriate travel arrangements and identifying the best
                        possible value.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-user text-primary mb-4"></i>
                    <h5>Value</h5>
                    <p>With our “Know How”, and as a sales agent for almost all major
                        international airlines, we do not only offer competitive prices to
                        our customer, but we are also able to pass on very competitive
                        prices and a maximum opportunity for choices and flexibility we
                        even offer a stress free luggage arrangement for our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-5 mt-4">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px">
            <div class="position-relative h-100">
                <img class="img-fluid position-absolute w-100 h-100" src="{% static 'assets/img/WhatsApp Image 2024-04-26 at 23.33.23.jpeg'%}" alt="" style="object-fit: cover" />
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <h6 class="section-title bg-white text-start text-primary pe-3">What Can We Do?</h6>
            <p class="mb-4">
                Experience: An excellent reputation for personal services, quality and value through
                extensive research and a comprehensive database backed up by ten years of experience in
                the travel industry.
                Our agents travel to the places they sell on a regular basis. They inspect the newest properties
                along with older properties that have undergone renovation. They continuously draw up or prepare new travel packages that best suits the customer’s needs and update the information
                on the tourist attraction places as well as the hiking trails or routes. We feel this is an
                extremely important aspect of being an above average travel consultant. It is what enables
                us to suggest properties that match our client's needs, and personalities.
            </p>
            <p class="mb-4">
                Quality Service: Professional customer oriented consultation providing hassle free travel.
                Email capabilities for convenience and prompt booking and information. Creative but
                persistent approach to search for the most appropriate travel arrangements and identifying
                the best possible value. Our travel consultants are friendly, professional, and experienced in
                accommodating both the seasoned traveller and those new to the world of travel. We pride
                ourselves in customer satisfaction. A large percentage of our bookings are from repeat
                clientele while much of our new business is from word of mouth recommendations.
            </p>
        </div>
        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
            <p class="mb-4">
                Value: With our “Know How”, and as a sales agent for almost all major international airlines,
                we do not only offer competitive prices to our customer, but we are also able to pass on very
                competitive prices and a maximum opportunity for choices and flexibility we even offer a
                stress free luggage arrangement for our clients.
                These points are represented in our logo as we aspire to give our clients the experience that
                always urges them to come back for more and take then to places that give them their peace
                of mind.
            </p>
        </div>
    </div>
    <div class="row gy-2 gx-4 mt-4 mb-5">
        <h3 class="mb-1">
          Our services include EVERYTHING related with tourism, such as
        </h3>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Custom Tour Packages
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Private Tours
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Pre-Arranged Tours
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Cruise Packages (MSC Cruises)
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>International Airline Reservations & Ticketing
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Cultural Tours inside and outside of Lesotho
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Heritage Tours in Lesotho and Neighbouring Countries
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Adventure Tours
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>All Terrain Hiking Packages
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Helicopter Rides, 4 X 4 Routes and Biking Route Tours
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Special Interest Journeys or Tours
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Educational Tours
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Worldwide hotel reservation
            </p>
        </div>
        <div class="col-sm-6">
            <p class="mb-0">
                <i class="fa fa-arrow-right text-primary me-2"></i>Ground handling services
            </p>
        </div>
    </div>
</div>
<!-- Service End -->
{% endblock content %}
