
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h3 class="mb-5">Our Services are based on 3 major points</h3>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                    <h5>Experience</h5>
                    <p>An excellent reputation for personal services, quality and value
                        through extensive research and a comprehensive database backed up
                        by ten years of experience in the travel industry. Our agents
                        travel to the places they sell on a regular basis.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                    <h5>Quality</h5>
                    <p>Professional customer oriented consultation providing hassle free
                        travel. Email capabilities for convenience and prompt booking and
                        information. Creative but persistent approach to search for the
                        most appropriate travel arrangements and identifying the best
                        possible value.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded pt-3">
                <div class="p-4">
                    <i class="fa fa-3x fa-user text-primary mb-4"></i>
                    <h5>Value</h5>
                    <p>With our “Know How”, and as a sales agent for almost all major
                        international airlines, we do not only offer competitive prices to
                        our customer, but we are also able to pass on very competitive
                        prices and a maximum opportunity for choices and flexibility we
                        even offer a stress free luggage arrangement for our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'services' %}">Read More</a>
</div>
<!-- Service End -->